In [110]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium .common.exceptions import NoSuchElementException

In [111]:
import pandas as pd
import time

In [3]:
import warnings
warnings.filterwarnings ('ignore')

In [4]:
driver = webdriver.Chrome (r'chromedriver.exe')

In [ ]:
# ==============================================================================================================================

In [5]:
# Q-6

In [11]:
driver.get ('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [7]:
driver.maximize_window()

In [15]:
title_all = []

In [73]:
try:
    title = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in title:
        temp = i.text
        title_all.append(temp)
except NoSuchElementException:
        title_all.append('-')
        
title_all

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [19]:
len(title_all)

100

In [20]:
author_all = []
volume_sold = []
publisher_all = []
genre_all = []

In [22]:
try:
    author = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        temp = i.text
        author_all.append(temp)
except NoSuchElementException:
        author_all.append('-')
        
try:
    volume = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volume:
        temp = i.text
        volume_sold.append(temp)
except NoSuchElementException:
        volume_sold.append('-')
        
try:
    publisher = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        temp = i.text
        publisher_all.append(temp)
except NoSuchElementException:
        publisher_all.append('-')
        
try:
    genre = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        temp = i.text
        genre_all.append(temp)
except NoSuchElementException:
        genre_all.append('-')

In [24]:
len(title_all),len(author_all),len(volume_sold),len(publisher_all),len(genre_all)

(100, 200, 200, 200, 100)

In [37]:
a1 = author_all [:100]

In [38]:
v1 = volume_sold [:100]

In [39]:
p1 = publisher_all [:100]

In [40]:
len(title_all),len(a1),len(v1),len(p1),len(genre_all)

(100, 100, 100, 100, 100)

In [41]:
df = pd.DataFrame({'Book Nmae':title_all,'Author Name':a1,'Volume Sold':v1,'Pulblisher':p1,'Genre':genre_all})
df

,Book Nmae,Author Name,Volume Sold,Pulblisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
# =============================================  Q-6 completed =================================================================

In [42]:
# Q-7

In [43]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [44]:
sample = driver.find_element(By.XPATH,'//h3[@class="lister-item-header"]/a')
sample.text

'Game of Thrones'

In [45]:
sample1 = driver.find_element(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
sample1.text

'(2011–2019)'

In [46]:
sample2 = driver.find_element(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
sample2.text

'Action, Adventure, Drama'

In [47]:
sample3 = driver.find_element(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
sample3.text

'57 min'

In [48]:
sample4 = driver.find_element(By.XPATH,'//div[@class="ipl-rating-widget"]/div[1]/span[2]')
sample4.text

'9.2'

In [49]:
sample5 = driver.find_element(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
sample5.text

'2,174,645'

In [50]:
name_all = []
year_all = []
genre_all = []
runtime_all = []
rating_all = []
votes_all = []

In [51]:
try:
    title = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in title:
        temp = i.text
        name_all.append(temp)
except NoSuchElementException:
    name_all.append('-')
    
try:
    year = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in year:
        temp = i.text
        year_all.append(temp)
except NoSuchElementException:
    year_all.append('-')
    
try:
    genre = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
    for i in genre:
        temp = i.text
        genre_all.append(temp)
except NoSuchElementException:
    genre_all.append('-')
    
try:
    runtime = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
    for i in runtime:
        temp = i.text
        runtime_all.append(temp)
except NoSuchElementException:
    runtime_all.append('-')
    
try:
    rating = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div[1]/span[2]')
    for i in rating:
        temp = i.text
        rating_all.append(temp)
except NoSuchElementException:
    rating_all.append('-')
    
try:
    votes = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
    for i in votes:
        temp = i.text
        votes_all.append(temp)
except NoSuchElementException:
    votes_all.append('-')

In [52]:
df = pd.DataFrame({'Name of Series':name_all,'Year Span':year_all,'Genre':genre_all,'Runtime':runtime_all,'Ratings':rating_all,'Votes':votes_all})
df

,Name of Series,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,174,645"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,252,369"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,911"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,707"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,849"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,984"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,015"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,616"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,411"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,407"

In [ ]:
# ================================================ Q-7 completed ==============================================================

In [53]:
# Q-8

In [54]:
driver.get('https://archive.ics.uci.edu/')

In [55]:
view_dataset = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_dataset.click()

In [56]:
sample_url = []

In [59]:
try:
    urls = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
    for i in urls:
        temp = i.get_attribute('href')
        sample_url.append(temp)
except NoSuchElementException:
    sample_url.append('not found')

In [60]:
sample_url

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom']

In [61]:
iris = driver.find_element(By.XPATH,'//h2[@class="truncate text-primary"]/a')
iris.click()

In [62]:
name_all = []
type_all = []
task_all = []
attributetype_all = []
instances_all = []
attributenumber_all = []
year_all = []

In [63]:
sample6 = driver.find_element(By.XPATH,'//div[@class="flex items-center gap-4"][1]/h1')
sample6.text

'Iris'

In [64]:
sample7 = driver.find_element(By.XPATH,'//div[@class="col-span-4"][1]/p')
sample7.text

'Multivariate'

In [65]:
sample8 = driver.find_element(By.XPATH,'//div[@class="col-span-4"][3]/p')
sample8.text

'Classification'

In [66]:
sample9 = driver.find_element(By.XPATH,'//div[@class="col-span-4"][4]/p')
sample9.text

'Real'

In [67]:
sample10 = driver.find_element(By.XPATH,'//div[@class="col-span-4"][5]/p')
sample10.text

'150'

In [69]:
sample11 = driver.find_element(By.XPATH,'//div[@class="col-span-4"][6]/p')
sample11.text

'4'

In [70]:
sample12 = driver.find_element(By.XPATH,'//h2[@class="text-primary-content"]')
sample12.text

'Donated on 6/30/1988'

In [ ]:
name_all = []
type_all = []
task_all = []
attributetype_all = []
instances_all = []
attributenumber_all = []
year_all = []

In [71]:
from time import sleep

In [76]:
for url in sample_url:
    driver.get(url)
    time.sleep(3)
    
    try:
        name = driver.find_elements(By.XPATH,'//div[@class="flex items-center gap-4"][1]/h1')
        for i in name:
            temp = i.text
            name_all.append(temp)
    except NoSuchElementException :
        name_all.append('-')
        
    
    try:
        type1 = driver.find_elements(By.XPATH,'//div[@class="col-span-4"][1]/p')
        for i in type1:
            temp = i.text
            type_all.append(temp)
    except NoSuchElementException :
        type_all.append('-')
    
    
    try:
        task = driver.find_elements(By.XPATH,'//div[@class="col-span-4"][3]/p')
        for i in task:
            temp = i.text
            task_all.append(temp)
    except NoSuchElementException :
        task_all.append('-')
        
    
    try:
        attribute = driver.find_elements(By.XPATH,'//div[@class="col-span-4"][4]/p')
        for i in attribute:
            temp = i.text
            attributetype_all.append(temp)
    except NoSuchElementException :
        attributetype_all.append('-')
        
    
    try:
        instances = driver.find_elements(By.XPATH,'//div[@class="col-span-4"][5]/p')
        for i in instances:
            temp = i.text
            instances_all.append(temp)
    except NoSuchElementException :
        instances_all.append('-')
        
    
    try:
        attrinum = driver.find_elements(By.XPATH,'//div[@class="col-span-4"][6]/p')
        for i in attrinum:
            temp = i.text
            attributenumber_all.append(temp)
    except NoSuchElementException :
        attributenumber_all.append('-')
        
    
    try:
        year = driver.find_elements(By.XPATH,'//h2[@class="text-primary-content"]')
        for i in year:
            temp = i.text
            year_all.append(temp)
    except NoSuchElementException :
        year_all.append('-')

In [78]:
n1 = name_all [:10]
t1 = type_all [:10]
t2 = task_all [:10]
a1 = attributetype_all [:10]
i1 = instances_all [:10]
a2 = attributenumber_all [:10]
y1 = year_all [:10]

In [79]:
df = pd.DataFrame({'Dataset Name':n1,'Data Type':t1,'Task':t2,'Attribute Type':a1,'Number of Instances':i1,'Number of Attributes':a2,'Year':y1})
df

,Dataset Name,Data Type,Task,Attribute Type,Number of Instances,Number of Attributes,Year
0,Iris,Multivariate,Classification,Real,150,4,Donated on 6/30/1988
1,Information,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Introductory Paper,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Attribute Information,Multivariate,Classification,"Integer, Real",13611,17,Donated on 9/13/2020
4,Features,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,Donated on 10/5/2019
5,Keywords,Multivariate,Classification,Real,3810,8,Donated on 6/30/1991
6,Heart Disease,Multivariate,Classification,"Integer, Real",178,13,Donated on 5/31/1997
7,Information,Multivariate,Classification,Categorical,1728,6,Donated on 10/31/1995
8,Attribute Information,Multivariate,Classification,Real,569,30,Donated on 4/26/1987
9,Features,Multivariate,Classification,Categorical,8124,22,Donated on 6/30/1988

In [ ]:
# ======================================  Q-8 completed ========================================================================

In [80]:
# Q-9

In [5]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [6]:
driver.maximize_window()

In [7]:
first = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[3]/div[2]/article[1]/div[1]/div[1]/a')
first.click()

In [8]:
url_all = []

In [20]:
url = driver.find_elements(By.XPATH,'//section[@class="jd-header"]/div[1]/div[1]/header/h1')
for i in url:
    temp = i.text
    url_all.append(temp)
url_all

[]

In [25]:
title_name = []
try:
    title = driver.find_elements(By.XPATH,'//div[@class="info fleft"][1]/a[1]')
    for i in title:
        temp = i.text
        title_name.append(temp)
except NoSuchElementException:
    title_name.append('-')

In [27]:
len(title_name)

20

In [28]:
name_all = []
try:
    names = driver.find_elements(By.XPATH,'//div[@class="info fleft"][1]/div/a[1]')
    for i in names:
        temp = i.text
        name_all.append(temp)
except NoSuchElementException:
    name_all.append('-')

In [30]:
len(name_all)

20

In [31]:
discription_all = []
try:
    discrip = driver.find_elements(By.XPATH,'//div[@class="ellipsis job-description"]')
    for i in discrip:
        temp = i.text
        discription_all.append(temp)
except NoSuchElementException:
    discription_all.append('-')

In [32]:
len(discription_all)

20

In [34]:
location_all = []
try:
    location = driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi location"]/span')
    for i in location:
        temp = i.text
        location_all.append(temp)
except NoSuchElementException:
    location_all.append('-')

In [35]:
len(location_all)

20

In [50]:
designation_all = []
try:
    desig = driver.find_elements(By.XPATH,'//article[@class="jobTuple"]/ul/li[2]')
    for i in desig:
        temp = i.text
        designation_all.append(temp)
except NoSuchElementException:
    designation_all.append('-')

In [51]:
len(designation_all)

20

In [53]:
df = pd.DataFrame({'Name':title_name,'Designation':designation_all,'Company':name_all,'Skills hire':discription_all,'Location':location_all})
df

,Name,Designation,Company,Skills hire,Location
0,Recruitment Opportunity For HR Executive,hr generalist activities,Kone,Assist with all internal and external HR relat...,"Chennai, Tamil Nadu"
1,Human Resources Executive,Training,Marriott,Ensure accurate maintenance of all employee re...,Chennai
2,HR Recruiter _ Bhubaneshwar (Btech Candidates ...,Hrsd,Tech Mahindra,Should have experience of various selection pr...,Bhubaneswar
3,Job opportunity For freshers/HR Recruiter/HR E...,Bulk Hiring,Black And White Business Solutions,LOOKING FOR - FRESHERS Experience : HR Recruit...,Bangalore/Bengaluru(Kodihalli +3)
4,HR Executive,Recruitment,Definedge Solutions,Proven work experience as an HR Executive . Ex...,Pune
5,HR Executive,Talent Management,Bonami Software,Qualifications . Must have excellent oral and ...,"New Delhi, Delhi / NCR"
6,Direct Walk in Interview For HR Executive(Female),Joining formalities,m2 Vending,Direct walk in interview for HR Executive(Fema...,"Gurgaon/ Gurugram, Haryana"
7,HR Executive,HR,Reputed Group of Higher Education Insititions....,Roles and ResponsibilityPrimary responsibiliti...,Bangalore/Bengaluru(Bannerghatta +1)
8,Jr HR Executive,Attendance Maintenance,SPECTRAFORCE,Willingness to work night shifts As a certifie...,"Hybrid - Mohali, Punjab"
9,HR Executive,Background verification,Abhinav Futuristics,Recruitment and Staffing: Assisting with the e...,"Mohali, Punjab"
10,Executive/ Assistant Manager HR Generalist - P...,HR Information System,OASIS,"Dress Code will be Blazer, Skirt and Bun for t...","Pune, Maharashtra(Koregaon Park)"
11,Opening For Management Trainee / Executive - HR,Talent Acquisition,Sahajanand Medical Technologies,Following is the requirement : . Company - Sah...,Mumbai (All Areas)
12,Recruiter - HR,Social media,Fashion Tv India,1. Filling positions within the organization. ...,Mumbai
13,Assistant Manager - HR (Field Level Recruitment),recruitment,Muthoot Microfin,. Post Graduation - MBA / PGDM in HR Full Time...,"Bhubaneswar, Odisha, Hubli, Karnataka, Sambalp..."
14,Hiring Freshers : HR Executive: Recruiter-Guru...,Recruitment,Advance Career Solutions,Currently Im hiring Enthusiastic Freshers for ...,"Gurgaon/ Gurugram, Haryana"
15,HR Trainee/Fresher(MBA)-Navi Mumbai(IMD joiner...,HR,3i Infotech,Urgent requirement for HR Trainee / Fresher(MB...,"Navi Mumbai, Maharashtra"
16,HR Trainee/Fresher(MBA)-Navi Mumbai(IMD joiner...,HR,3i Infotech,Urgent requirement for HR Trainee / Fresher(MB...,"Navi Mumbai, Maharashtra"
17,"Hiring Hr recruiters, day shift, spot offer an...",Hrsd,Ignites Human Capital,Recruiter(Day shift) Jayanagar . HR Recruiter ...,"Bangalore/ Bengaluru, Karnataka"
18,Human Resource Recruiter @Jabalpur: Salary Upt...,Inside sales,KVC Consultants Ltd.,"Greetings, If you are looking forward to a car...",Jabalpur
19,Human Resource Recruiter @Jabalpur: Salary Upt...,IT recruitment,KVC Consultants Ltd.,"Greetings, If you are looking forward to a car...",Jabalpur

In [ ]:
# ============================================= Q-9 completed ================================================================

In [ ]:
# Q-1

In [112]:
from selenium .common.exceptions import NoSuchElementException
from time import sleep

In [91]:
driver = webdriver.Chrome (r'chromedriver.exe')

In [92]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [113]:
rank_all = []
name_all = []
artist_all = []
upload_date = []
views_all = []

In [58]:
driver.maximize_window()

In [124]:
rank_allnew = []

In [125]:
try:
    rank_new1 = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[1]')
    for i in rank_new1:
        temp = i.text
        rank_allnew.append(temp)
except NoSuchElementException:
    rank_allnew.append('-')

In [128]:
r = rank_allnew [:20]
len(r)

20

In [97]:
try:
    rank_new = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[2]/a')
    for i in rank_new:
        temp = i.text
        name_all.append(temp)
except NoSuchElementException:
    name_all.append('-')

In [117]:
n = name_all[:20]
len(n)

20

In [100]:
try:
    artist= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[3]/a')
    for i in artist:
        temp = i.text
        artist_all.append(temp)
except NoSuchElementException:
    artist_all.append('-')

In [118]:
a = artist_all[:20]
len(a)

20

In [103]:
try:
    views = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[4]')
    for i in views:
        temp = i.text
        views_all.append(temp)
except NoSuchElementException:
    views_all.append('-')

In [119]:
v = views_all [:20]
len (v)

20

In [106]:
try:
    upload = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[5]')
    for i in upload:
        temp = i.text
        upload_date.append(temp)
except NoSuchElementException:
    upload_date.append('-')

In [122]:
u = upload_date [:20]
len(u)

20

In [129]:
df = pd.DataFrame({'Rank':r,'Name':n,'Artist':a,'Upload Date':u,'Views':v})
df

,Rank,Name,Artist,Upload Date,Views
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.16
2,3.,Johny Johny Yes Papa,Cocomelon – Nursery Rhymes,"October 8, 2016",6.70
3,4.,Shape of You,Ed Sheeran,"May 2, 2018",6.20
4,5.,See You Again,Wiz Khalifa,"January 30, 2017",6.00
5,6.,Wheels on the Bus,ChuChu TV,"April 6, 2015",5.89
6,7.,Uptown Funk,Cocomelon – Nursery Rhymes,"March 6, 2014",5.30
7,8.,Gangnam Style,Mark Ronson,"May 24, 2018",5.24
8,9.,Dame Tu Cosita,Psy,"November 19, 2014",4.92
9,10.,Axel F,El Chombo,"February 27, 2018",4.89
10,11.,Sugar,Crazy Frog,"July 15, 2012",4.80
11,12.,Roar,Maroon 5,"January 31, 2012",4.55
12,13.,Counting Stars,Katy Perry,"April 5, 2018",4.35
13,14.,Sorry,OneRepublic,"June 16, 2009",3.91
14,15.,Baa Baa Black Sheep,Justin Bieber,"January 14, 2015",3.87
15,16.,Thinking Out Loud,Cocomelon – Nursery Rhymes,"September 5, 2013",3.80
16,17.,Waka Waka (This Time for Africa),Ed Sheeran,"May 31, 2013",3.79
17,18.,Dark Horse,Shakira,"October 22, 2015",3.66
18,19.,Faded,Katy Perry,"June 25, 2018",3.64
19,20.,Perfect,Alan Walker,"October 7, 2014",3.60

In [ ]:
# =================================== All Questions Completed ==================================================================