In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

import warnings
warnings.filterwarnings('ignore')

In [4]:
driver = webdriver.Chrome (r'chromedriver.exe')

In [5]:
driver.get ('https://www.naukri.com/')

# QUESTION NO. = 1

In [6]:
designation = driver.find_element (By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [7]:
location = driver.find_element (By. XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [8]:
# here in the above case the 'class name' is same for both 'designatio & location', therfore for 'designation- we use 'CLASS_NAME'
# and for location we are using'ABSOLUTE XPATH'

In [9]:
search = driver.find_element (By.CLASS_NAME, "qsbSubmit")
search.click()

In [10]:
# now upto here we are having all the pagewise data for "data analyst" for "banglore" location.

In [12]:
# now below we are finding and makiing data frame top 10 companies list with mentioned criteria:

job_title = []
job_location = []
company_name = []
experiance_required = []


# for job_title :-

title_all = driver.find_elements (By.XPATH,'//a[@class="title ellipsis"]')
for i in title_all [0:10]:
    title = i.text
    job_title.append(title)
    
    
#  for job_location :-

location_all = driver.find_elements (By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_all [0:10]:
    location = i.text
    job_location.append(location)
    
    
# for company_name :-

company_all = driver.find_elements (By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_all [0:10]:
    name = i.text
    company_name.append(name)
    
    
# for experiance_required :-

experiance_required = driver. find_elements (By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experiance_required [0:10]:
    experiance = i.text
    experiance_required.append(experiance)
    exp1 = experiance_required[0:10]
# to identify whether the length of all lists are same or not

len(job_title),len(job_location),len(company_name),len(exp1)

(10, 10, 10, 10)

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame({'Job Title':job_title, 'Location':job_location, 'Company':company_name, 'Experiance':exp1})
df

,Job Title,Location,Company,Experiance
0,Data Analyst,Bangalore/Bengaluru,Target,<selenium.webdriver.remote.webelement.WebEleme...
1,Tech Data Analyst,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore...",Wipro,<selenium.webdriver.remote.webelement.WebEleme...
2,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Artech,<selenium.webdriver.remote.webelement.WebEleme...
3,Data Analyst,Bangalore/Bengaluru,Brunel,<selenium.webdriver.remote.webelement.WebEleme...
4,Celonis & Salesforce Data Analyst,"Chennai, Bangalore/Bengaluru",Hitachi Energy,<selenium.webdriver.remote.webelement.WebEleme...
5,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,<selenium.webdriver.remote.webelement.WebEleme...
6,Data Analyst,Hybrid - Bangalore/Bengaluru,HARMAN,<selenium.webdriver.remote.webelement.WebEleme...
7,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,<selenium.webdriver.remote.webelement.WebEleme...
8,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,<selenium.webdriver.remote.webelement.WebEleme...
9,Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Tata Consultancy Services (TCS),<selenium.webdriver.remote.webelement.WebEleme...

# QUESTION NO. = 2

In [15]:
driver.get ('https://www.naukri.com/')

In [16]:
designation = driver.find_element (By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [17]:
location = driver.find_element (By. XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [18]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [19]:
ds_job_title = []
ds_job_location = []
ds_company_name = []
ds_experiance_required = []

In [20]:
title_tag1 = driver.find_elements (By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag1[0:10]:
    title1 = i.text
    ds_job_title.append(title1)

In [21]:
len(ds_job_title)

10

In [22]:
title_tag2 = driver.find_elements (By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in title_tag2[0:10]:
    title2 = i.text
    ds_job_location.append(title2)

In [23]:
len(ds_job_location)

10

In [24]:
title_tag3 = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in title_tag3[0:10]:
    title3 = i.text
    ds_company_name.append(title3)

In [25]:
len(ds_company_name)

10

In [26]:
title_tag4 = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in title_tag4[0:10]:
    title4 = i.text
    ds_experiance_required.append(title4)

In [27]:
len(ds_experiance_required)

10

In [28]:
import pandas as pd

df = pd.DataFrame({'Job Tile':ds_job_title, 'Location':ds_job_location, 'Company Nmae':ds_company_name, 'Experiance':ds_experiance_required})

In [29]:
df

,Job Tile,Location,Company Nmae,Experiance
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Deloitte,9-14 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
2,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,5-12 Yrs
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart,6-8 Yrs
4,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS),4-8 Yrs
5,Hiring For Data Scientist,"Hybrid - Hyderabad/ Secunderabad, Telangana, C...",Tata Consultancy Services (TCS),4-9 Yrs
6,Data Scientist,"Hybrid - Pune, Bangalore/Bengaluru, Delhi / NC...",Infogain,3-6 Yrs
7,Director/Senior Director - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,10-15 Yrs
8,Manager/Senior Manager - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,8-12 Yrs
9,Data Scientist,Bangalore/Bengaluru,Ericsson,5-7 Yrs

# Question No.- 3

In [30]:
driver.get ('https://www.naukri.com/')

In [31]:
designation = driver.find_element (By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [32]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [33]:
ds_loc = driver.find_element (By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')

In [34]:
ds_loc.click()

In [35]:
ds_sal = driver.find_element (By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
ds_sal.click()

In [36]:
ds_job_title_ncr = []
ds_job_location_ncr = []
ds_company_name_ncr = []
ds_experiance_required_ncr = []

In [37]:
title_ncr = driver.find_elements (By. XPATH, '//a[@class="title ellipsis"]')
for i in title_ncr [0:10]:
    title1 = i.text
    ds_job_title_ncr.append(title1)

In [38]:
len(ds_job_title_ncr)

10

In [39]:
location_ncr = driver.find_elements (By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_ncr [0:10]:
    location1 = i.text
    ds_job_location_ncr.append(location1)

In [40]:
len(ds_job_location_ncr)

10

In [41]:
company_ncr = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_ncr [0:10]:
    company1 = i.text
    ds_company_name_ncr.append(company1)

In [42]:
len(ds_company_name_ncr)

10

In [43]:
experiance_ncr = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experiance_ncr[0:10]:
    exp2 = i.text
    ds_experiance_required_ncr.append(exp2)

In [44]:
ds_experiance_required_ncr

['0-2 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '0-1 Yrs',
 '2-6 Yrs',
 '2-4 Yrs',
 '1-6 Yrs']

In [45]:
len(ds_experiance_required_ncr)

10

In [46]:
import pandas as pd

In [47]:
df = pd.DataFrame({'Job Title':ds_job_title_ncr,'Job Location': ds_job_location_ncr, 'Company Name':ds_company_name_ncr, 'Experiance':ds_experiance_required_ncr})
df

,Job Title,Job Location,Company Name,Experiance
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,Noida,Jubilant Ingrevia Limited,3-8 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
5,Data Scientist,Delhi / NCR,Tata Consultancy Services (TCS),7-12 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Lead Assistant Manager,Gurgaon/Gurugram,EXL,2-6 Yrs
8,Data Scientist,Noida,Innovaccer,2-4 Yrs
9,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs

# Question No.- 4

In [68]:
driver.get ('https://www.flipkart.com')

In [69]:
search = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sunglasses')

In [71]:
find = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
find.click()

In [72]:
sunglasses = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(sunglasses)

40

In [73]:
sunglass_brand = []
sun_pro_disc = []
sunglasses_price = []

In [74]:
s_brand = []
start=0
end=3
for page in range(start,end):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        s_brand.append(i.text)
    next_button = driver.find_element (By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [75]:
sunglasses_brand = s_brand[0:100]
len(sunglasses_brand)

100

In [76]:
s_disc = []
start=0
end=3
for page in range(start,end):
    discription = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in discription:
        s_disc.append(i.text)
    next_button = driver.find_element (By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [77]:
sun_pro_disc = s_disc[0:100]
len(sun_pro_disc)

100

In [78]:
s_price = []
start=0
end=3
for page in range(start,end):
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        s_price.append(i.text)
    next_button = driver.find_element (By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [79]:
sunglasses_price = s_price[0:100]
len(sunglasses_price)

100

In [80]:
import pandas as pd

In [81]:
df = pd.DataFrame({'Brand':sunglasses_brand,'Product Discription':sun_pro_disc,'Price':sunglasses_price})
df

             Brand                                Product Discription   Price
0           OAKLEY              UV Protection Aviator Sunglasses (57)    ₹435
1   ROZZETTA CRAFT              UV Protection Aviator Sunglasses (58)  ₹7,239
2             SRPM  UV Protection, Polarized, Mirrored Wayfarer Su...    ₹216
3        Elligator                                    Shield Sunglass    ₹213
4        Elligator                UV Protection Round Sunglasses (54)    ₹109
..             ...                                                ...     ...
95   VINCENT CHASE   UV Protection Rectangular Sunglasses (Free Size)  ₹5,300
96       Elligator       UV Protection Aviator Sunglasses (Free Size)    ₹149
97        Fastrack             UV Protection Wayfarer Sunglasses (62)    ₹569
98          PIRASO          UV Protection Rectangular Sunglasses (52)    ₹214
99   VINCENT CHASE             UV Protection Wayfarer Sunglasses (62)  ₹6,389

[100 rows x 3 columns]

# Question No.-5

In [82]:
driver.get ('https://www.flipkart.com')

In [ ]:
search = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('apple iphone 11 black 64 gb')

In [ ]:
find_button = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
find_button.click()

In [ ]:
phone = driver .find_element(By.CLASS_NAME,'_4rR01T')
phone.click()

In [ ]:
rating_all = []
review_summary = []
full_review = []

In [ ]:
star_rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

In [ ]:
star_rating

In [ ]:
# i think there is problem with above "flipkart code", because i have tried soo many times with different 'class-name', 
# 'absolute-xpath', 'relative-xpath', but always the output list is shown empty, weather the same code is working with the flip-
# -kart other products / questions.  so unable to this particular question. PLEASE PROVIDE THE SOLUTION FOR THE ABOVE QUESTION.

# Question No.- 6

In [83]:
driver.get ('https://www.flipkart.com')

In [84]:
search = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sneakers')

In [85]:
find_button = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
find_button.click()

In [86]:
brand_all = []
discription_all = []
price_all = []

In [87]:
brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand [0:40]:
    brand1 = i.text
    brand_all.append(brand1)

In [88]:
len(brand_all)

40

In [89]:
brand_name = []

In [90]:
start=0
end=3
for page in range (start,end):
    name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        brand_name.append(i.text)
    next_button = driver.find_element (By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [91]:
len(brand_name)

120

In [92]:
brand_all = brand_name[0:100]
len(brand_all)

100

In [93]:
disc = []
start=0
end=3
for page in range (start,end):
    discription = driver.find_elements (By.XPATH,'//a[@class="IRpwTa"]')
    for i in discription:
        disc.append(i.text)
    next_button = driver.find_element (By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [94]:
discription_all = disc[0:100]
len(discription_all)

100

In [95]:
price = []
start=0
end=3
for page in range(start,end):
    rate = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in rate:
        price.append(i.text)
    next_button = driver.find_element (By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [96]:
price_all = price [0:100]
len(price_all)

100

In [97]:
len(brand_all),len(discription_all),len(price_all)

(100, 100, 100)

In [98]:
import pandas as pd

In [99]:
df = pd.DataFrame({'Brand Name':brand_all,'Product Discription':discription_all,'Price':price_all})
df

,Brand Name,Product Discription,Price
0,CAMPUS,White Sneaker For Men Sneakers For Men,"₹1,849"
1,New Balance,2006 Trenddy Fashion Sporty Casuals Sneakers R...,₹399
2,aadi,Modern Trendy Shoes Sneakers For Men,₹249
3,BIRDE,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹479
4,HIGHLANDER,Stylish & Trending Outdoor Walking Comfortable...,₹599
...,...,...,...
95,KILLER,WATERPROOF-05cFULLBLACK Sneakers For Men,₹569
96,Krors,Sneakers For Men,₹399
97,Field Care,Stylish Trendy Outdoor High Ankle Jordan Boots...,₹524
98,aadi,Sneakers For Men,₹249
99,World Wear Footwear,Stylish & Trending Outdoor Walking Comfortable...,₹369

# Question No.- 7

In [100]:
driver = webdriver.Chrome (r'chromedriver.exe')

In [101]:
driver.get('https://www.amazon.in/')

In [102]:
title_all =[]
ratings_all =[]
price_all =[]

In [103]:
title_tag = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
title_tag.send_keys('LAPTOP')

In [104]:
search_button = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

In [105]:
filter_cpu = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[11]/li/span/a/div/label/i')
filter_cpu.click()

In [106]:
laptop_title = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptop_title[0:10]:
    laptop = i.text
    title_all.append(laptop)

In [107]:
title_all = laptop_title[0:10]

In [108]:
len(title_all)

10

In [109]:
laptop_rating = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in laptop_rating[0:10]:
    rating = i.text
    ratings_all.append(laptop)

In [110]:
ratings_all = laptop_rating[0:10]
len(ratings_all)

10

In [111]:
laptop_price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in laptop_price[0:10]:
    price1 = i.text
    price_all.append(price1)

In [112]:
price_all = laptop_price[0:10]
len(price_all)

10

In [113]:
len(title_all),len(ratings_all),len(price_all)

(10, 10, 10)

In [114]:
import pandas as pd

In [115]:
df = pd.DataFrame({'Title':title_all,'Ratings':ratings_all,'Price':price_all})
df

,Title,Ratings,Price
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
9,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...

# Question- 8

In [137]:
driver.get ('https://www.azquotes.com/')

In [138]:
top_quotes = driver .find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [139]:
quotes = []
author = []
type_of_quotes = []

In [154]:
# start=0
# end=10
# for page in range (start,end):
#     quotes_tag = driver.find_elements(By.XPATH,'//a[@class="title"]')
#     for i in quotes_tag:
#         quotes.append(i.text)
#     next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
#     next_button.click()
#     time.sleep(5)

In [155]:
quotes_tag = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes_tag[0:100]:
    quot = i.text
    quotes.append(quot)

In [159]:
quotes_all = quotes[0:100]

In [160]:
len(quotes_all)

100

In [163]:
author = []
author_tag = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tag[0:100]:
    auth = i.text
    author.append(auth)

In [166]:
len(author)

100

In [168]:
type_of_quote = []
type_tag = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_tag[0:100]:
    typ = i.text
    type_of_quote.append(typ)

In [170]:
len(type_of_quote)

100

In [172]:
import pandas as pd

In [173]:
df = pd.DataFrame({'Quote':quotes_all,'Author':author,'Type Of Quote':type_of_quotes})
df

,Quote,Author,Type Of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"If you want to make a permanent change, stop f..."
1,One cannot and must not try to erase the past ...,Golda Meir,"If you want to make a permanent change, stop f..."
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"If you want to make a permanent change, stop f..."
3,Death is something inevitable. When a man has ...,Nelson Mandela,"If you want to make a permanent change, stop f..."
4,You have to love a nation that celebrates its ...,Erma Bombeck,"If you want to make a permanent change, stop f..."
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"If you want to make a permanent change, stop f..."
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"If you want to make a permanent change, stop f..."
97,If you think you are too small to make a diffe...,Dalai Lama,"If you want to make a permanent change, stop f..."
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"If you want to make a permanent change, stop f..."
99,Change your thoughts and you change your world.,Norman Vincent Peale,"If you want to make a permanent change, stop f..."

# Question No-9

In [6]:
driver.get ('https://www.jagranjosh.com/')

In [10]:
gk = driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/div/div[3]/div/div[1]/header/div[3]/ul/li[3]/a')
gk.click()

In [11]:
pm_india = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm_india.click()

In [17]:
pm_name_all = []
pm_name = driver.find_elements(By.TAG_NAME,'p')
for i in pm_name:
    pm = i.text
    pm_name_all.append(pm)

In [34]:
pm1 = pm_name_all[14::3]

In [38]:
pm_all = pm1[0::2]

In [139]:
pm_all.pop()
pm_all.pop()
pm_all.append('Narendra Modi')

In [140]:
len(pm_all)

19

In [57]:
born = pm_name_all[15::2]

In [61]:
born_date = born[0::3]

In [142]:
born_date.pop()

'Also, Read the following:'

In [143]:
len(born_date)

19

In [100]:
term = pm_name_all[16::1]

In [106]:
term_new = term[0::3]

In [111]:
term_all = term_new[0::2]

In [144]:
term_all.pop()

''

In [145]:
len(term_all)

19

In [119]:
remark = pm_name_all[18::3]

In [122]:
remark_all = remark[0::2]

In [129]:
remark_all

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from South India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM']

In [131]:
remark_all.append('4th Prime Minister of India who served two consecutive tenures')

In [132]:
remark_all.append('First non-congress PM with two consecutive tenures')

In [147]:
remark_all.pop()

'-'

In [148]:
len(remark_all)

19

In [137]:
import pandas as pd

In [149]:
df = pd.DataFrame({'Name':pm_all,'Born-Dead':born_date,'Term of office':term_all,'Remark':remark_all})
df

,Name,Born-Dead,Term of office,Remark
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,30 May 2019- Incumbent,First non-congress PM with two consecutive ten...,First non-congress PM with two consecutive ten...

# Question No-10

In [ ]:
driver = webdriver.Chrome (r'chromedriver.exe')

In [16]:
driver.get ('https://www.motor1.com/')

In [17]:
search = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/button')
search.click()

In [18]:
find_new = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
find_new.send_keys('50 most expensive cars')

In [19]:
find_button = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
find_button.click()

In [20]:
search_50 = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
search_50.click()

In [21]:
car_new = []
car_name = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_name:
    car = i.text
    car_new.append(car)

In [22]:
car_all = car_new [0:50]
len(car_all)

50

In [23]:
car_all

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [212]:
price_new = []
price_all = driver.find_elements(By.XPATH,"//p[contains(@text, 'Price:')]")
for i in price_all:
    price = i.text
    price_new.append(price)

In [ ]:
# sorry unable to fetch price data, please support on this issue